*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   bottom: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;

}

body{
   color: #000;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 16px;
   background-color: #555;
}

.wrapper{
   margin: 0 auto;
   max-width: 980px;
   overflow: hidden;
   padding: 100px 0;
}

.card{
   min-height: 100vh;
   position: relative;
}

.card__nav{
   display: inline-block;
   padding: 10px 5px;
   color: #000;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 20px;
   background-color: rgb(184, 233, 49);
   transition: opacity .3s ease 0s;
   opacity: 0.8;
}
.card__nav:hover{
   opacity: 1;
}
.card__body {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
}
.card__item img{
   max-width: 100%;
   transition: transform .3s ease 0s;
}
.card__item img:hover{
   transform: scale(1.03);
}


.price {
   font-size: 22px;
   margin:0px 0px 20px 0px;
}
.text{
   line-height: 20px;
   margin: 20px 0;
}
.btn{
   display:block;
   text-align: center;
   background-color: rgb(22, 136, 121);
   text-decoration: none;
   color: #000;
   padding: 10px 0;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition:background-color .3s ease 0s ;
}
.btn:hover{
   background-color: rgb(44, 94, 87);
}

/* inline-block */
.card__item-1 {
   display: inline-block;
   width: 50%;
   vertical-align: middle;
   font-weight: normal;
}
.card__item-1:first-child{
   padding: 0px 20px 0px 0px;  
}
/* table */
.card__item-2 {
   width: 50%;
   text-align: left;
   font-weight: normal;
}
.card__item-2:first-child{
   padding: 0px 20px 0px 0px;  
}

/* float */
.card__item-3{}
.card__item-3:first-child {
   float: left;
   width: 50%;
   padding:0px 0px 0px 0px;
   margin: 0px 20px 0px 0px;
}
.card__item-3:last-child{
   height: 50%;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.card__item-3 .btn{
   overflow: hidden;
}










